{% extends 'Base_All.html' %}
{% load static %}

{% block title %}Wall Of Secretes {% endblock %}


{% block extra_head_at_end %}
{% endblock %}

{% block style %}

    <style>


        textarea {
            background-color: #343A40;
            color: white;
            font-size: medium;
        }

        .input_here {
            background-color: #343A40;
        }

    </style>

{% endblock %}






{% block logo %}
{#    <a href="{% url 'secretes' %}" title="wall of secretes">#}
        <img src="{% static  'wall headers/wall of secrets.png' %}" class="img-fluid" id="title_it"
             alt="wall of secretes"
             style="max-height: 5rem;" title="shhhhh!!!">
{#    </a>#}
    <br>
    <br>

{% endblock %}



{% block if_block %}

{% endblock %}

{% block postings %}{{ posts.secret }} {% endblock %}

{% block card_color %} bg-dark {% endblock %}

{% block extra_card_style %} background-color: : #FF05F2{% endblock %}

{% block card_title %} dont tell anyone...its a secrete! {% endblock %}

{#{% block animate %} slideInUp {% endblock %}#}
{% block animate %} fadeInUp {% endblock %}

{% block body %}

{% endblock %}