{% extends 'Base_All.html' %}
{% load static %}

{% block title %}Wall Of Secretes {% endblock %}


{% block extra_head_at_end %}
{% endblock %}

{% block style %}

    {#        body{#}
    {#            background-color: #747476;#}
    {#                background-color: #343A40;#}
    {#        }#}
    <style>


        textarea {
        {#border-radius: 0.5rem; background-color: #3C8FC2;#} background-color: #343A40;
            color: white;

        {#font-weight: bold;#} font-size: medium;
        }

    </style>

{% endblock %}






{% block logo %}
    <a href="{% url 'secretes' %}" title="wall of secretes">
        <img src="{% static  'wall headers/wall of secretes.png' %}" class="img-fluid" id="title_it"
             alt="wall of secretes"
             style="max-height: 2.5rem;" title="shhhhh!!!">
    </a>
    <br>
    <br>

{% endblock %}



{% block if_block %}

{% endblock %}

{% block postings %}{{ posts.secrete }} {% endblock %}

{% block card_color %} bg-dark {% endblock %}

{% block extra_card_style %} background-color: : #FF05F2{% endblock %}

{% block card_title %} dont tell anyone...its a secrete! {% endblock %}

{#{% block animate %} slideInUp {% endblock %}#}
{% block animate %} fadeInUp {% endblock %}

{% block body %}

{% endblock %}